<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원목록</title>
    <!--    <script th:src="@{/js/jquery.js}"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        table, th, td {
            border: 1px solid #bcbcbc;
        }

        table {
            width: 600px;
            height: 200px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 200px;
        }

        tr, td {
            text-align: center;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>email</th>
        <th>password</th>
        <th>name</th>
        <th>age</th>
        <th>phone</th>
        <th>조회</th>
        <th>조회(axios)</th>
        <th>삭제</th>
        <th>삭제(axios)</th>
    </tr>
    <tr th:each="member: ${memberList}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.memberEmail}"></td>
        <td th:text="${member.memberPassword}"></td>
        <td th:text="${member.memberName}"></td>
        <td th:text="${member.memberAge}"></td>
        <td th:text="${member.memberPhone}"></td>
        <td>
            <a th:href="@{|/member/${member.id}|}">조회</a>
        </td>
        <td>
            <button th:onclick="findMember([[${member.id}]])">조회(axios)</button>
        </td>
        <td>
            <a th:href="@{|/member/delete/${member.id}|}">삭제</a>
        </td>
        <td>
            <button th:onclick="/deleteMember([[${member.id}]])">삭제(axios)</button>
        </td>
    </tr>
</table>
<div id="detail-area">

</div>
</body>
<script th:inline="javascript">
    const findMember = (findId) => {
        console.log("id값", findId);
        const detailArea = document.getElementById("detail-area");
        axios({
            method: "get",
            url: "/member/ajax/" + findId,
        }).then(res => {
            console.log("then", res);
            console.log("회원객체", res.data);
            console.log("회원이메일", res.data.memberEmail);
            const member = res.data;
            console.log("member", member);
            let result =
                "        <table>\n" +
                "            <tr>\n" +
                "                <th>id</th>\n" +
                "                <td>" + member.id + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>email</th>\n" +
                "                <td>" + member.memberEmail + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>password</th>\n" +
                "                <td>" + member.memberPassword + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>name</th>\n" +
                "                <td> " + member.memberName + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>age</th>\n" +
                "                <td>" + member.memberAge + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>phone</th>\n" +
                "                <td>" + member.memberPhone + "</td>\n" +
                "            </tr>\n" +
                "        </table>";
            detailArea.innerHTML = result;
        }).catch(err => {
            console.log("catch", err);
        })

        const deleteMember = (deleteId) => {
            axios({
                method: "delete",
                url: "/member/" + deleteId
            }).then(res => {
                alert("삭제 성공");
                location.href = "/member/";
            }).catch(res => {
                alert("삭제 실패");
            })
        }

        // $.ajax({
        //     type: "get",
        //     url: "/member/detail-ajax",
        //     data: {id: findId},
        //     dataType: "json",
        //     success: function (member) {
        //         console.log("조회결과", member);
        //         console.log("조회 ID:", member.id);
        //         let result =
        //             "        <table>\n" +
        //             "            <tr>\n" +
        //             "                <th>id</th>\n" +
        //             "                <td>" + member.id + "</td>\n" +
        //             "            </tr>\n" +
        //             "            <tr>\n" +
        //             "                <th>email</th>\n" +
        //             "                <td>" + member.memberEmail + "</td>\n" +
        //             "            </tr>\n" +
        //             "            <tr>\n" +
        //             "                <th>password</th>\n" +
        //             "                <td>" + member.memberPassword + "</td>\n" +
        //             "            </tr>\n" +
        //             "            <tr>\n" +
        //             "                <th>name</th>\n" +
        //             "                <td> " + member.memberName + "</td>\n" +
        //             "            </tr>\n" +
        //             "            <tr>\n" +
        //             "                <th>age</th>\n" +
        //             "                <td>" + member.memberAge + "</td>\n" +
        //             "            </tr>\n" +
        //             "            <tr>\n" +
        //             "                <th>phone</th>\n" +
        //             "                <td>" + member.memberPhone + "</td>\n" +
        //             "            </tr>\n" +
        //             "        </table>";
        //         detailArea.innerHTML = result;
        //     },
        //     error: function () {
        //
        //     }
        // });
    }
</script>
</html>