<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보 수정</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="memberUpdate mt-lg-5">
    <h2>내 정보 수정</h2>
    <form action="/member/update" method="post" name="updateForm">
        id: <input type="text" name="id" th:value="${member.id}" class="form-control" readonly> <br>
        email: <input type="text" name="memberEmail" th:value="${member.memberEmail}" class="form-control"> <br>
        password: <input type="password" name="memberPassword" th:value="${member.memberPassword}" class="form-control">
        <br>
        name: <input type="text" name="memberName" th:value="${member.memberName}" class="form-control"> <br>
        age: <input type="text" name="memberAge" th:value="${member.memberAge}" class="form-control"> <br>
        phone: <input type="text" name="memberPhone" th:value="${member.memberPhone}" class="form-control"> <br>
        <input type="button" class="btn btn-primary" value="수정" onclick="update()">
        <input type="button" class="btn btn-primary" value="수정(axios)" onclick="updateAxios()">
    </form>
</div>
</body>
<script th:inline="javascript">
    const updateAxios = () => {
        const id = document.querySelector('input[name="id"]').value;
        const email = document.querySelector('input[name="memberEmail"]').value;
        const password = document.getElementsByName("memberPassword")[0].value;
        const name = document.getElementsByName("memberName")[0].value;
        const age = document.getElementsByName("memberAge")[0].value;
        const phone = document.getElementsByName("memberPhone")[0].value;
        // const id1 = document.querySelector("input[name='id']").value;
        // const ids = document.getElementsByName("id");
        console.log("id", id);
        // console.log("id1", id1);
        // console.log("ids", ids);
        const passwordDB = [[${member.memberPassword}]];
        if (password == passwordDB) {
            axios({
                method: "put",
                url: "/member/" + id,
                data: {
                    id: id,
                    memberEmail: email,
                    memberPassword: password,
                    memberName: name,
                    memberAge: age,
                    memberPhone: phone
                }
            }).then(res => {
                console.log("수정 성공");
                location.href = "/member/" + id;
            }).catch(err => {
                console.log("수정 실패")
            })
        } else {
            alert("비밀번호가 틀립니다!")
        }
    }

    const update = () => {
        const passwordDB = [[${member.memberPassword}]];
        const passwordInput = document.getElementById("memberPassword").value;
        if (passwordDB == passwordInput) {
            document.updateForm.submit();
        } else {
            alert("비밀번호가 틀립니다!!")
        }
    }
</script>
</html>