<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        .memberSave {
            width: 500px;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="memberSave mt-lg-5">
    <h2>회원가입</h2>
    <form action="/member/save" method="post">
        <input type="text" name="memberEmail" id="memberEmail" class="form-control" placeholder="이메일"
               onblur="emailDuplicateCheck()"> <br>
        <span id="email-dup-check"></span>
        <input type="password" name="memberPassword" class="form-control" placeholder="비밀번호"> <br>
        <input type="text" name="memberName" class="form-control" placeholder="이름"> <br>
        <input type="text" name="memberAge" class="form-control" placeholder="나이"> <br>
        <input type="text" name="memberPhone" class="form-control" placeholder="전화번호"> <br>
        <input type="submit" class="btn btn-primary" value="회원가입">
    </form>
</div>
</body>
<script th:inline="javascript">
    const emailDuplicateCheck = () => {
        const email = document.getElementById("memberEmail").value;
        const checkResult = document.getElementById("email-dup-check");
        axios({
            method: "post",
            url: "/member/dup-check",
            params: {
                inputEmail: email
            }
        }).then(res => {
            console.log("then 함수");
            console.log(res);
            checkResult.innerHTML = "사용가능";
            checkResult.style.color = "green";
        }).catch(res => {
            console.log("catch 함수");
            console.log(res);
            checkResult.innerHTML = "사용불가";
            checkResult.style.color = "red";
        })

        // $.ajax({
        //     type: "post",
        //     url: "/member/dup-check",
        //     dataType: "text",
        //     data: {
        //     inputEmail: email
        //     },
        //     success: function (result) {
        //         // if (result == "ok") {
        //             checkResult.innerHTML = "사용가능";
        //             checkResult.style.color = "green";
        //         // } else {
        //         // }
        //     },
        //     error: function () {
        //         console.log("실패");
        //         checkResult.innerHTML = "사용불가";
        //         checkResult.style.color = "red";
        //     }
        // })
    }
</script>
</html>