<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        .memberLogin {
            width: 500px;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="memberLogin mt-lg-5">
    <h2>로그인</h2>
    <form action="/member/login" method="post">
        <input type="text" name="memberEmail" class="form-control" placeholder="이메일"> <br>
        <input type="password" name="memberPassword" class="form-control" placeholder="비밀번호"> <br>
        <input type="submit" class="btn btn-primary" value="로그인">
    </form>
</div>
</body>
</html>